.burger-icon {
  position: fixed;
  top: 20px;
  right: 10px;
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::after {
  display: block;
  width: 27px;
  height: 2px;
  border-radius: 100px;
  background: #000;
}

.burger-icon span {
  position: relative;
}

.burger-icon span::after {
  content: "";
  position: absolute;
  bottom: -8px;
}

.header__bottom {
  align-items: center;
  display: flex;
  padding-top: 56px;
  gap: 27.1px;
}

.nav__menu-list {
  display: flex;
  gap: 27.1px;
}

.nav__menu-link {
  text-wrap: nowrap;
  display: flex;
  gap: 8px;
  transition: var(--transition ) ;
}

.nav__menu-link:hover {
  color: var(--general-color) ;
}

.nav__menu-link svg {
  transform: rotatex(180deg);
  transition: var(--transition ) ;
}
.nav__menu-link:hover svg{
  stroke: var(--general-color) ;
}


@media (width <=1024px) {

  .header__bottom {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 27.1px;
  }

  .burger-icon {
    display: flex;
  }

}